body {
  background-color: darkblue;
  color: #fef2bf;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  line-height: 2.5em;
  font-size: 0.55em;
}

.title {
  width: 70vmin;
  height: 8vmin;
  margin: 3vmin auto;
}

.btn {
  display: inline-block;
  height: 30vmin;
  width: 30vmin;
  border: 10px solid black;
  border-radius: 20%;
}

#start {
  width: 70vmin;
  margin: 3vmin auto;
  height: 12vmin;
}

.hiscore {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1vmin;
  vertical-align: bottom;
  margin: 0;
}

.fa {
  position: absolute;
  right: 3vmin;
  bottom: 1vmin;
  margin: 0;
}

#dialog,
.ui-widget-header {
  background-color: black;
  border: 1px solid white;
}


#blue {
  background-color: blue;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.gameover {
  background-color: red;
}
